.footer {
    background-color: #343a40!important;
    color: #fff!important;
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    display: block;
    box-sizing: border-box;
}

.outerContentWrapper{
    display: block;
    position: relative;
    max-height: 80vh;
    height: 53vh;
    overflow-y: scroll;
}
