<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Order Form</title>
</head>
<body>
    Enter New Order
    <br/><br/>

    <p> th:text="${order}" </p>
    <br/><br/>
    <form action="#" th:action="@{/saveOrder}" th:object="${order}" method="POST">
        <label>Company</label><input type="text" name="customer" th:field="*{customer}"/>
        <br/><br/>
        <label>Customer Address</label><input type="text" name="address" th:field="*{customerAddress}"/>
        <br/><br/>
         <label>Item ID</label><input type="number" name="itemNumber" th:field="*{itemID}"/>
        <br/><br/>
         <label>Quantity</label><input type="number" name="quantity" th:field="*{quantity}"/>
        <br/><br/>
        <button name="submit" type="submit" value="0">Submit</button>
    </form>
    <br/><br/>
    <form action="#" th:action="@{/}" method="get" >
        <button id="toDashboard" class="float-left submit-button" >Return to home</button>
    </form>

</body>
</html>
