<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Order Form</title>
</head>
<body>
<h1>Enter New Order</h1>

    <script type="text/javascript">
        document.getElementById("toDashboard").onclick = function () {
            location.href = "start.html";
        };
    </script>

    <p th:text="${order}" />

    <form action="#" th:action="@{/saveOrder}" th:object="${Order}" method="GET">
        <label>Company</label><input type="text" name="customer" th:field="*{customer}"/>
        <label>OrderID</label><input type="text" name="address" th:field="*{customerAddress}"/>
        <label>OrderID</label><input type="number" name="itemNumber" th:field="*{itemID}"/>
        <label>OrderID</label><input type="number" name="quantity" th:field="*{quantity}"/>
        <button name="submit" type="submit" value="0">Submit</button>
    </form>

    <button id="toDashboard" class="float-left submit-button" >Return to home</button>
</body>
</html>
