 <!DOCTYPE html>
 <html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BulkBuy</title>

</head>
<body>
    <div style="display: inline-block">
        BulkBuy Dashboard
    </div>
    <div style="display: inline-block">
        <form action="#" class="float-left submit-button" th:action="@{/newOrder}" method="get" >
            <button name="submit" type="submit" value="0">Place New Order</button>
        </form>
    </div>
    <div style="display: inline-block">
        <form action="#" class="float-left submit-button" th:action="@{/orderLookup}" method="get" >
            <button name="submit" type="submit" value="0">Lookup Order</button>
        </form>
    </div>


</body>
</html>